.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }


/*HEADER*/
.main_header          { background:#ffffff; border-bottom:1px #f4f4f4 solid; z-index:1; padding: 0.5em 0em; }
.main_header .content { float:left; padding:0px 0; }

.fixed            { display:block; position:fixed; z-index:9;  }
.main_header_logo { text-align:center; margin:auto; float:none; width:138px; }
.main_header_logo img { height:69px; }

/*Seu Código*/
.section-seu-codigo          { padding:10px 0px; background-color:#ffffff; }
.section-seu-codigo .content { float:left; padding:1em 0; }
.section_title               { width: 100%; float:left; margin-bottom:1em; font-size:1.3em; font-weight: 300; text-align: center; border-bottom: 1px #eceaea solid; padding-bottom: 1em; }

.box-artigo   { width:100%; float:left; padding:1em; }

/*Box de contagem*/
.box-contagem { 

    width:100%; 
    margin-right:4%; 
    margin-bottom:20px; 
    float:left; 
    background:#2470dc; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3;
    border-radius:3px; 
    padding:1em; 

}

.box-contagem .title { 

    width:100%; 
    float:left; 
    font-size: 20px;
    color:#fff; 
    border-bottom: 1px #44c1ff solid; 
    margin-bottom: 5px; 
    padding-bottom: 5px; 

}

.box-contagem .contagem { 

    width:100%; 
    float:left; 
    color: #ffffff;
    font-size: 25px;
    font-family: 'open_sansregular'; 

}

/*Responsivo*/

/*768PX BREAKPOINT*/
@media (min-width:48em){

.box-contagem   { width:22%; }
.box-contagem:nth-of-type(4n+0) { margin-right:0; margin-bottom:0; }

} 


/*Box de contagem*/

/*FOOTER*/
.main_footer          { background-color:#353535; color:#fff; font-size:0.875em; }
.main_footer .content { padding:3em 0em; }

.main_footer_copy       { background-color:#262626; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p     { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }


/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

.boxBannerTopo { padding:1em 0; }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){


} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){


} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){

 .section-seu-codigo          { padding:20px 0px; }
 .section-seu-codigo .content { width:80%; padding:1em 0; margin:0 10%; }


}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

 
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){


}
/*Fecha o Responsivo*/


 /* estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* estilos da seção de edição de perfil */
.edit-profile {
  margin: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.edit-profile h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #0842c4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #07bbfa;
}

.profile {
  max-width: 900px;
  height: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile p {
  margin-bottom: 50px;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;

}

.profile .label {
  width: 100px;
  height: 100px;
  font-weight: bold;
  padding-bottom: 50px;
}

.profile .contact-info {
  margin-top: 20px;
}
